<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Registration</title>
</head>
<body>
<h1>Создание счета</h1>
<form action="/account-registration" method="post">
    <select id="currencyCode" name="currencyCode">

        <option value=USD>USD</option>

        <option value=RUB>RUB</option>

        <option value=EUR>EUR</option>

    </select>
    <button type="submit">Создать</button>
</form>
<form action="/home">
    <button>Назад</button>
</form>
</body>
</html>