<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>
<form action="/signUp" method="post">
    <div>
        <labe>
            <input name="firstName" placeholder="имя" required="required">
        </labe>
    </div>
    <div>
        <labe>
            <input name="lastName" placeholder="фамилия" required="required">
        </labe>
    </div>
    <div>
        <labe>
            <input name="patronymic" placeholder="отчество" required="required">
        </labe>
    </div>
    <div>
        <labe>
            <input type="email" name="email" placeholder="почта" required="required">
        </labe>
    </div>
    <div>
        <labe>
            <input type="password" name="password" placeholder="пароль" required="required">
        </labe>
    </div>
    <div>
        <labe>
            <input name="phoneNumber" placeholder="номер мобильного телефона" required="required" pattern="[0-9]{11}">
        </labe>
    </div>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>