<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transactions history</title>
    <style>
        #trans-button {
            background: transparent;
            text-align: center;
            margin-bottom: 5px;
            border-width: 3px;
        }
        #trans-button:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:if="${BankAccount.getTransactionsHistory().isEmpty()}">
    <h3>По данному счету не совершено операций</h3>
</div>
<p></p>
<div th:unless="${BankAccount.getTransactionsHistory().isEmpty()}">
    <div th:each="transaction : ${BankAccount.getTransactionsHistory()}">
        <div style="width: 20%;">
            <form action="/get-transaction-info" method="get">
                <input name="id" th:value="${transaction.getId()}" type="hidden">
                <input name="accountId" th:value="${BankAccount.getId()}" type="hidden">
                <button id="trans-button">
                    <h3 th:text="'Транзакция №' + ${transaction.getId()}"></h3>
                    <div th:if="${transaction.getReceiverAccountID != null && transaction.getReceiverAccountID == BankAccount.getId()}">
                        <p th:text="'+' + ${transaction.getTransactionReceiveAmount}" style="color: green; font-weight: bold; font-size: large"></p>
                    </div>
                    <div th:if="${transaction.getGiverAccountID != null &&  transaction.getGiverAccountID == BankAccount.getId()}">
                        <p th:text="'-' + ${transaction.getTransactionSendAmount}" style="color: firebrick; font-weight: bold; font-size: large"></p>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
<p></p>
<form action="/account">
    <input name="id" th:value="${BankAccount.getId()}" type="hidden">
    <button>Назад</button>
</form>
</body>
</html>